.popup.hidden(data-bind="hidden:active()!='wallet',attr:{shown:active()!='wallet',class:active()!='wallet'?`hidden`:`reg`}")
    div
        include header 
        .section
            #ton-connect
            .section.container.grid3
                span.ton.active(data-bind="click:()=>setRefill(0.5), attr:{class:refill()==0.5?'active':'reg'}") 0.5
                span.ton(data-bind="click:()=>setRefill(5), attr:{class:refill()==5?'active':'reg'}") 5
                span.ton(data-bind="click:()=>setRefill(10), attr:{class:refill()==10?'active':'reg'}") 10
            .box2.line.mBottom
                input(data-bind="value:refill" type="number" placeholder="min 0.5 TON" min="0.5" step="0.1")
            button(data-bind="event:{click:()=>sendMoney()}") Deposit 💰

        .section.container.grid3
            span.active(data-bind="event:{click:()=>swalletActive('deposit')}, attr:{class:walletActive()=='deposit'?'active':'reg'}")!=translations.headers.deposit[lang]
            span(data-bind="event:{click:()=>swalletActive('out')}, attr:{class:walletActive()=='out'?'active':'reg'}")!=translations.headers.withdraw[lang]
            span(data-bind="event:{click:()=>swalletActive('transactions')}, attr:{class:walletActive()=='transactions'?'active':'reg'}")!=translations.headers.transactions[lang]
        .container(data-bind="attr:{class:walletActive()=='deposit'?'reg':'hidden'}")
            h3!=translations.headers.manual[lang]
            p.t.small!=translations.headers.address[lang]+'🔗'
            .box2.line
                span.pre.ws(data-bind="event:{click:()=>copy('"+wallet+"')}")!=wallet
                .copyButton(data-bind="event:{click:()=>copy('"+wallet+"')}")
            p.t.small!='Memo 📌'
            .box2.line
                span.pre.ws(data-bind="text:hash, event:{click:()=>copy(hash())}") 
                .copyButton(data-bind="event:{click:()=>copy(hash())}")
        .container(data-bind="attr:{class:walletActive()=='out'?'reg':'hidden'}")
            h3!=translations.headers.withdrawal[lang]
            p.t.small!=translations.headers.yourWallet[lang]
            .box2.line
                input.pre.ws(data-bind="value:userwallet" name="wallet")
            p.t.small Memo (if needed)
            .box2.line
                input.pre.ws(data-bind="value:usermemo" name="memo")
            p.t.small!=translations.headers.wSum[lang]
            .box2.line
                input.pre.ws(data-bind="attr{placeholder:curScoreTon().toFixed(2)}, value:toWithDraw" type="number" step="0.01" min="0.5" name="withdrawal")
            p.info.topless!=`${translations.headers.minimum[lang]}: <span class="ton">0,5</span>.` 
            br
            button.sent(data-bind="attr:{disabled:withdrawalInProcess()?true:false}, event:{click:()=>requestWithDrawTon()}")!=translations.headers.withdrawal[lang]
            .section(data-bind="attr:{class:requests().length?`reg section`:`hidden`}")
                h3!=translations.headers.transactionsInProcess[lang]
                div(data-bind="foreach:requests")    
                    div.box2.big
                        p(data-bind="text:date")
                        p.score.ton(data-bind="text:amount")                    

        .container(data-bind="attr:{class:walletActive()=='transactions'?'reg':'hidden'}")
            h3!=translations.headers.history[lang]
            .vScroll
                table
                    thead
                        tr
                            th!=translations.headers.action[lang]
                            th!=translations.headers.sum[lang]
                            th!=translations.headers.date[lang]
                    tbody(data-bind="foreach:transactions")
                        tr.appear
                            td(data-bind="text:comment")
                            td.ton(data-bind="text:amount.toFixed(2)")
                            td(data-bind="text:date")