
doctype html
html
  head
    title auction
    script(src='https://telegram.org/js/telegram-web-app.js')

    meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
    meta(name='description' content='Bet you!')

    link(rel='stylesheet', href='/stylesheets/auction/app2.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap")

    script(src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js") 
    script (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(98071436, "init", {clickmap:true,trackLinks:true,accurateTrackBounce:true,webvisor:true}); 
    
    script(src='/javascripts/knockout.js')
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js")
    script(type="module" src="https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js')
    
    script!=`let botLink="${botLink}"`
    script!=`let translations=${JSON.stringify(translations)}`
    script!=`let lang="${lang}"`
    script!=`intention=${start ? `"${start}"` : false }`
    
    script(src='/javascripts/common.js')
    script(src='/javascripts/appCommon.js')
    script(type="module" src='/javascripts/auction/classes.js')
    
    script!=`${start?`let start="${start}"`:'let start=null'}`
  body#b
    noscript 
        div 
            img(src="https://mc.yandex.ru/watch/98071436" style="position:absolute; left:-9999px;")
    link(rel='stylesheet', data-bind="attr:{href:'/stylesheets/auction/'+theme()+'.css'}")
    - let wallet ="UQAbMidsunh9esQXj1bd7zXNS-lamkN77cdqaF-GEdJ5W9yj";
    script!=`let authNeeded=${authNeeded}`
    div(data-bind="foreach:faqs")
       .popup.hidden(data-bind="attr:{class:closed()?'hidden':'popup reg'}")
            div
                .section
                    img.ico.big(data-bind="attr:{src:icon}")
                    h3(data-bind="text:name")
                    div.small(data-bind="text:description")
                    button.thin(data-bind="event:{click:()=>toggle()}")!=translations.termsAndButtons.close[lang]
    .popup.hidden(data-bind="hidden:active()!='faq',attr:{class:active()!='faq'?'hidden':'reg'}")
        div
            include header
            .section
                h3 FAQ
                .grid2(data-bind="foreach:faqs")
                    .box2.big(data-bind="event:{click:()=>toggle()}")
                        img.ico(data-bind="attr:{src:icon}")
                        p.tag.timing(data-bind="text:timing")
                        p.score(data-bind="text:name")
    .popup.hidden(data-bind="hidden:active()!='refs',attr:{shown:active()!='profile',class:active()!='refs'?`hidden`:`reg`}")
        div
            include header
            .section
                h3!=translations.headers.refLink[lang]
                .box2.line
                    span.ws(data-bind="text:`${botLink}?start=ref_${userId()}`, event:{click:()=>copyRef()}") 
                    .copyButton(data-bind="event:{click:()=>copyRef()}")
                .grid2
                    .box2.big
                        p.t!=translations.headers.refs[lang]
                        p.score(data-bind="text:refs().length")
                    .box2.big
                        p.t=translations.headers.refsBets[lang]
                        p.score(data-bind="text:totalRefStakesTon")
                .box2.big
                    p.t=translations.headers.earned[lang]
                    p.ton.score(data-bind="text:totalRefScoreTon().toFixed(2)")
                .box2.big.vector
                    p.blue.t=translations.headers.accessible[lang]
                    p.ton.score(data-bind="text:curRefScoreTon().toFixed(2)")
                    button.fr(data-bind="attr:{disabled:curRefScoreTon()?false:true},event:{click:()=>requestWithDraw('ref')}")=translations.termsAndButtons.get[lang]
            .section
                h3=translations.headers.yourRefs[lang]
                table
                    thead
                        tr
                            th=translations.headers.ref[lang]
                            th=translations.headers.stakes[lang]
                            th=translations.headers.income[lang]
                    tbody(data-bind="foreach:refs")
                        tr
                            td(data-bind="text:'@'+username()")
                            td(data-bind="text:totalStakesTon")
                            td.ton(data-bind="text:score().toFixed(2)")
            .section
                h3=translations.about[lang]
                table.ref(data-bind="foreach:refFaqs")
                    tr(data-bind="attr:{class:closed()?`down`:`up`}")
                        td.score.q(data-bind="text:name, event:{click:()=>toggle()}")
                    tr(data-bind="attr:{class:closed()?`hidden`:`reg`}") 
                        td(data-bind="hidden:closed(), text: description")
    .popup.hidden(data-bind="hidden:active()!='profile',attr:{shown:active()!='profile',class:active()!='profile'?`hidden`:`reg`}")
        div
            include header
            .section
                h3!=translations.headers.stats[lang]
                .grid2
                    .box2.big
                        p.t!=translations.headers.totalStaked[lang]
                        p.ton.score(data-bind="text:totalStakedTon().toFixed(2)")
                    .box2.big
                        p.t!=translations.headers.totalStakes[lang]
                        p.score(data-bind="text:totalStakesTon")
                .box2.big.vector
                    p.blue.t!=translations.headers.totalEarned[lang]
                        p.ton.score(data-bind="text:totalScoreTon().toFixed(2)")
    .popup.hidden(data-bind="hidden:active()!='before',attr:{shown:active()!='before',class:active()!='before'?`hidden`:`reg`}")
        div
            h3!=translations.headers.history[lang]
            div(data-bind="foreach:archive")
                div.box2.big
                    .flexSpread
                        .div
                            p.info(data-bind="text:date")
                            p.small(data-bind="text:id.slice(0,6)")
                            .flex
                                span.small.tag.winner(data-bind="text:stakeHolder() == $root.hash()? '"+translations.you[lang]+"' : (stakeHolderId()||'—')")
                                span.small.tag.ton(data-bind="text:stake().toFixed(2)")
                                span.small.tag(data-bind="text:time")
                        .div.flex
                            div.mRight.round.history(data-bind="event:{click:()=>showHistory()}")
                            div.round.share(data-bind="event:{click:()=>showShare()}")
    .popup.hidden(data-bind="hidden:active()!='lobby',attr:{shown:active()!='lobby',class:active()!='lobby'?`hidden`:`reg`}")
        div
            include lobbyHeader
            div.section(data-bind="foreach:iterations")
                .container.auction(data-bind="shown:active, attr:{'data-active':active,'data-ton':ton}")
                    .flex.s
                        div.auctionId(data-bind="text:id.slice(0,6)")
                        .flex.topCenterLine
                            div.star(data-bind="attr:{'data-on':userActive()}")
                            div.crown(data-bind="attr:{'data-on':(stakeHolder() == $root.hash())}")
                        div.round.history(data-bind="event:{click:()=>showHistory()}")
                    .flex.s
                        .winner(data-bind="text:stakeHolder() == $root.hash()? '"+translations.you[lang]+"' : (stakeHolderId()||'—')")
                        div.pool(data-bind="text: stake().toFixed(2)")
                        .countDown(data-bind="text:left")
                    button.stakeButton(data-bind=`attr:{disabled:stakeHolder()==$parent.hash()},click:$root.stake,text:stakeHolder()==$parent.hash()?"${translations.lead[lang]}":'${translations.bet[lang]} ('+base()+')'`)
    .popup.hidden(data-bind="hidden:active()!='wallet',attr:{shown:active()!='wallet',class:active()!='wallet'?`hidden`:`reg`}")
        div
            include header 
            .section
                #ton-connect
                .section.container.grid3
                    span.ton.active(data-bind="click:()=>setRefill(0.5), attr:{class:refill()==0.5?'active':'reg'}") 0.5
                    span.ton(data-bind="click:()=>setRefill(5), attr:{class:refill()==5?'active':'reg'}") 5
                    span.ton(data-bind="click:()=>setRefill(10), attr:{class:refill()==10?'active':'reg'}") 10
                button(data-bind="event:{click:()=>sendMoney()}") transfer

            .section.container.grid3
                span.active(data-bind="event:{click:()=>swalletActive('deposit')}, attr:{class:walletActive()=='deposit'?'active':'reg'}")!=translations.headers.deposit[lang]
                span(data-bind="event:{click:()=>swalletActive('out')}, attr:{class:walletActive()=='out'?'active':'reg'}")!=translations.headers.withdraw[lang]
                span(data-bind="event:{click:()=>swalletActive('transactions')}, attr:{class:walletActive()=='transactions'?'active':'reg'}")!=translations.headers.transactions[lang]
            .container(data-bind="attr:{class:walletActive()=='deposit'?'reg':'hidden'}")
                h3!=translations.headers.manual[lang]
                p.t.small!=translations.headers.address[lang]
                .box2.line
                    span.pre.ws(data-bind="event:{click:()=>copy('"+wallet+"')}")!=wallet
                    .copyButton(data-bind="event:{click:()=>copy('"+wallet+"')}")
                p.t.small Memo
                .box2.line
                    span.pre.ws(data-bind="text:hash, event:{click:()=>copy(hash())}") 
                    .copyButton(data-bind="event:{click:()=>copy(hash())}")
            .container(data-bind="attr:{class:walletActive()=='out'?'reg':'hidden'}")
                h3!=translations.headers.withdrawal[lang]
                p.t.small!=translations.headers.yourWallet[lang]
                .box2.line
                    input.pre.ws(data-bind="value:userwallet" name="wallet")
                p.t.small Memo (if needed)
                .box2.line
                    input.pre.ws(data-bind="value:usermemo" name="memo")
                p.t.small!=translations.headers.wSum[lang]
                .box2.line
                    input.pre.ws(data-bind="attr{placeholder:curScoreTon().toFixed(2)}, value:toWithDraw" type="number" step="0.01" min="0.5" name="withdrawal")
                p.info.topless!=`${translations.headers.minimum[lang]}: <span class="ton">0,5</span>.` 
                br
                button.sent(data-bind="attr:{disabled:withdrawalInProcess()?true:false}, event:{click:()=>requestWithDrawTon()}")!=translations.headers.withdrawal[lang]
                .section(data-bind="attr:{class:requests().length?`reg section`:`hidden`}")
                    h3!=translations.headers.transactionsInProcess[lang]
                    div(data-bind="foreach:requests")    
                        div.box2.big
                            p(data-bind="text:date")
                            p.score.ton(data-bind="text:amount")                    

            .container(data-bind="attr:{class:walletActive()=='transactions'?'reg':'hidden'}")
                h3!=translations.headers.history[lang]
                .vScroll
                    table
                        thead
                            tr
                                th!=translations.headers.action[lang]
                                th!=translations.headers.sum[lang]
                                th!=translations.headers.date[lang]
                        tbody(data-bind="foreach:transactions")
                            tr.appear
                                td(data-bind="text:comment")
                                td.ton(data-bind="text:amount.toFixed(2)")
                                td(data-bind="text:date")
    #footer.grid
        #lobby(data-bind="event:{click:()=>sactive('lobby')}, attr:{'data-chosen':active()=='lobby'?true:false}")
            img.navbar(src="/images/auction/star_on.svg")
            span!=translations.auctions[lang]
        #wallet(data-bind="event:{click:()=>sactive('wallet')}, attr:{'data-chosen':active()=='wallet'?true:false}")
            img.navbar(src="/images/auction/wallet_on.svg")
            span!=translations.r[lang]
        #refs(data-bind="event:{click:()=>sactive('refs')}, attr:{'data-chosen':active()=='refs'?true:false}")
            img.navbar(src="/images/auction/refs_on.svg")
            span!=translations.refs[lang]
        #profile(data-bind="event:{click:()=>sactive('profile')}, attr:{'data-chosen':active()=='profile'?true:false}")
            img.navbar(src="/images/auction/profile_on.svg")
            span!=translations.prof[lang]
        
                
  script(type="module" src='/javascripts/auction/app2.js')
